In [4]:
import pandas as pd

df = pd.read_csv('site_data_yearly.csv')

df1 = pd.read_csv('site_to_location.csv')

merged_df = df.merge(df1[['site_id', 'state']], on='site_id', how='left')
merged_df

,site_id,Date,Time,PM2.5_min,PM2.5_max,PM2.5_mean,PM10_min,PM10_max,PM10_mean,NO_min,...,CO_min,CO_max,CO_mean,Ozone_min,Ozone_max,Ozone_mean,AQI_min,AQI_max,AQI_mean,state
0,site_103,2015,All Day,10.09,582.81,130.705548,6.98,860.32,211.385218,3.04,...,0.000000,6.77,1.702206,0.75,186.5900,32.888113,56.0,660.0,255.731816,Delhi
1,site_103,2015,Night,10.09,582.81,142.415640,9.70,860.32,230.974786,3.12,...,0.395778,6.77,1.787260,1.11,181.2975,31.893120,56.0,660.0,256.796439,Delhi
2,site_103,2015,Morning,14.69,402.65,133.625451,11.77,717.26,216.256311,3.04,...,0.213111,6.71,1.761168,1.50,186.5900,30.191717,58.0,615.0,255.976294,Delhi
3,site_103,2015,Afternoon,11.65,321.53,116.770666,6.98,502.40,187.274588,3.51,...,0.000000,5.67,1.583959,0.75,168.9500,37.146838,62.0,454.0,254.928481,Delhi
4,site_103,2015,Evening,13.51,458.39,130.010437,13.59,716.23,211.035188,3.32,...,0.000000,6.50,1.676436,0.76,174.6000,32.320776,57.0,484.0,255.226052,Delhi
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8260,site_5727,2023,All Day,2.00,175.50,32.185000,7.50,395.50,79.630952,0.50,...,0.220000,2.06,0.535952,1.30,129.3300,65.742351,60.0,143.0,98.694940,Rajasthan
8261,site_5727,2023,Night,3.00,145.50,32.647894,9.00,241.00,67.429908,0.50,...,0.220000,0.95,0.401557,1.30,108.7800,56.577885,62.0,117.0,92.346532,Rajasthan
8262,site_5727,2023,Morning,12.00,175.50,41.435403,36.25,395.50,95.242445,0.85,...,0.340000,1.57,0.639029,2.88,124.1500,63.304469,60.0,136.0,92.781573,Rajasthan
8263,site_5727,2023,Afternoon,3.00,61.25,26.626566,7.50,145.00,78.847335,1.23,...,0.270000,0.81,0.457445,42.15,129.3300,89.137930,67.0,143.0,106.370600,Rajasthan
8264,site_5727,2023,Evening,2.00,96.75,28.030137,16.00,207.75,77.004121,0.75,...,0.230000,2.06,0.645778,2.90,98.8800,53.949121,63.0,143.0,103.281056,Rajasthan

In [5]:
merged_df['Time'] = merged_df['Time'].replace({'All Day': 'a', 'Night': 'b', 'Morning': 'c', 'Afternoon': 'd', 'Evening': 'e'})
agg_df = merged_df.groupby(['state', 'Date', 'Time']).agg({'PM2.5_min': 'min', 'PM2.5_max': 'max', 'PM2.5_mean': 'mean', 'PM10_min': 'min', 'PM10_max': 'max', 'PM10_mean': 'mean', 'NO_min': 'min', 'NO_max': 'max', 'NO_mean': 'mean', 'NO2_min': 'min',
           'NO2_max': 'max', 'NO2_mean': 'mean', 'NOx_min': 'min', 'NOx_max': 'max', 'NOx_mean': 'mean', 'NH3_min': 'min',
           'NH3_max': 'max', 'NH3_mean': 'mean', 'SO2_min': 'min', 'SO2_max': 'max', 'SO2_mean': 'mean', 'CO_min': 'min',
           'CO_max': 'max', 'CO_mean': 'mean', 'Ozone_min': 'min', 'Ozone_max': 'max', 'Ozone_mean': 'mean', 'AQI_min': 'min',
           'AQI_max': 'max', 'AQI_mean': 'mean'}).reset_index()
agg_df['Time'] = agg_df['Time'].replace({'a': 'All Day', 'b': 'Night', 'c': 'Morning', 'd': 'Afternoon', 'e': 'Evening'})
agg_df

,state,Date,Time,PM2.5_min,PM2.5_max,PM2.5_mean,PM10_min,PM10_max,PM10_mean,NO_min,...,SO2_mean,CO_min,CO_max,CO_mean,Ozone_min,Ozone_max,Ozone_mean,AQI_min,AQI_max,AQI_mean
0,Andhra Pradesh,2016,All Day,1.75,97.50,44.954775,9.25,149.00,88.379870,0.100000,...,21.492147,0.0,3.620000,1.077673,0.02,183.6300,43.958217,37.0,239.0,103.912685
1,Andhra Pradesh,2016,Night,1.75,97.00,43.974305,9.25,146.25,84.699518,1.428947,...,20.402483,0.0,3.220000,0.978347,0.02,183.6300,38.502064,42.0,239.0,105.142692
2,Andhra Pradesh,2016,Morning,2.00,95.50,45.204426,12.50,148.00,87.635603,0.100000,...,24.141629,0.0,3.580000,1.066511,0.10,179.1000,38.186931,38.0,239.0,103.379363
3,Andhra Pradesh,2016,Afternoon,1.75,97.00,42.171666,16.00,148.00,88.209703,1.070000,...,20.977766,0.0,2.808571,0.877218,0.10,179.1000,62.252021,37.0,228.0,102.533126
4,Andhra Pradesh,2016,Evening,2.00,97.50,48.468701,11.00,149.00,92.974657,2.000000,...,20.446710,0.0,3.620000,1.388615,0.10,179.1000,36.891851,40.0,228.0,104.595559
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
875,West Bengal,2023,All Day,0.10,490.94,73.796558,0.94,910.22,150.456991,0.010000,...,13.130029,0.0,8.330000,0.835691,0.01,195.7300,32.916280,25.0,394.0,166.858601
876,West Bengal,2023,Night,1.91,479.66,79.185504,8.56,866.02,155.389053,0.030000,...,10.872621,0.0,8.330000,0.845005,0.01,131.6275,16.875398,25.0,390.0,166.304606
877,West Bengal,2023,Morning,0.10,402.93,76.235671,0.95,646.70,151.014023,0.010000,...,15.032264,0.0,3.900000,0.750906,0.02,159.8500,33.753498,25.0,391.0,165.902036
878,West Bengal,2023,Afternoon,0.38,217.01,63.000750,0.94,811.30,129.541357,0.010000,...,14.589212,0.0,5.590000,0.636011,0.53,195.7300,61.374847,33.0,391.0,168.064059
879,West Bengal,2023,Evening,4.67,490.94,76.764306,8.47,910.22,165.883530,0.030000,...,12.026019,0.0,7.350000,1.110841,0.01,186.5725,19.661375,30.0,394.0,167.163706

In [6]:
agg_df.to_csv('state_data_yearly.csv', index=False)